button:not(:disabled) {
  cursor: pointer;
}

/* nprogress 进度条颜色跟随主题色 */
#nprogress .bar {
  background: var(--primary);
}
#nprogress .peg {
  box-shadow:
    0 0 10px var(--primary),
    0 0 5px var(--primary);
}
